.container {
    background-color: darkslategrey;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding: 10px;
    flex-wrap: wrap;

}
.containerProjects {
    background-color: #343a40;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.sectionHeader {
    background-color: yellow;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}
