.content {
    background-color: cadetblue;
    height: max-content;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.skillSection {
    width: 80%;
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sectionHeader {
    background-color: yellow;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}
