.content {
    background-color: cornflowerblue;
    height: max-content;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column;
    /*padding: 17px;*/

}

.sectionTitle {
}

.animatedBar {

}

.infoSection {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.infoImg {
    background-color: white;
    width: 300px;
    height: 300px;
}

.img {

}

.contentBlock {

}

.contentSubtitle {

}
.contentTitle {
    position: relative;
}


.contentInfo {
    display: flex;
    flex-flow: column;

}

.contentContact {
    font-size: 15px;
    margin-bottom: 4px;
    padding: 29px 0;
}

.singleInfo {

}

.contactInfo {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-flow: column ;
    margin-left: 15px;
    margin-right: 15px;
}