.content {
    background-color: cornflowerblue;
    height: max-content;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column;
}

.sectionHeading {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    background-color: yellow;

}

.sectionDescription {
}

.sectionTitle {
}

.animatedBar {
}

.infoSection {
    width: 80%;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
}

.infoImg {
    background-color: white;
    width: 300px;
    height: 300px;
}

.img {

}

.contentBlock {

}

.contentSubtitle {

}

.contentTitle {

}

.contentInfo {
    display: flex;
    flex-flow: column;

}


.contentDescription {

}

.contentContact {

    font-size: 15px;
    margin-bottom: 4px;
    padding: 29px 0;
}

.singleInfo {

}

.contactInfo {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}